<div class="form-container">
    <form action="/loginPost" method="post">
        <h2>Entre com sua conta!</h2>
        <div class="form-action">
            <label for="email">E-mail: </label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
        </div>
        <div class="form-action">
            <label for="password">Senha: </label>
            <input type="password" password="password" id="password" placeholder="Digite sua senha">
        </div>
        <input type="submit" value="Entrar">
    </form>
    <p>Não tem uma conta ? <a href="/register">Crie aqui.</a></p>
</div>