<div class="form-container">
    <form action="/registerPost" method="post">
        <h2>Crie sua conta!</h2>
        <div class="form-action">
            <label for="name">Nome: </label>
            <input type="text" name="name" id="name" placeholder="Digite seu nome">
        </div>
        <div class="form-action">
            <label for="email">E-mail: </label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
        </div>
        <div class="form-action">
            <label for="password">Senha: </label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha">
        </div>
        <div class="form-action">
            <label for="confirmpass">Confirmação de senha: </label>
            <input type="password" name="confirmpass" id="confirmpass" placeholder="Confirme sua senha">
        </div>
        <input type="submit" value="Criar">
    </form>
    <p>Já tem uma conta ? <a href="/login">Entre aqui.</a></p>
</div>